@import url('https://fonts.cdnfonts.com/css/luminari');

.container{
  position: relative;
   height:200px;
}

body{
  font-family: 'Luminari', sans-serif;
  background-image: url('../imagenes/mapa\ ejemplo.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}

/*button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 500px;
  background-color: transparent;
  border-radius: 55%;
  
}*/

.banner {
  position: absolute;
  left: 50%;
  top: 100%;
  display: block;
  margin: 100px -200px;
  width: 430px;
  height: 60px;
  border: 1px solid burlywood;
  font: normal 30px/60px 'Rye';
  text-align: center;
  color: brown;
  background-image: url('../imagenes/pergamino.jpg');
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Luminari', sans-serif;
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid burlywood;
  border-right: 20px solid rgb(138, 101, 52);
  border-bottom-color: burlywood;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -70px;
  border-left: 20px solid rgb(138, 101, 52);
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}