@import url('https://fonts.cdnfonts.com/css/luminari');

body {
  font-family: 'Luminari', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-color: bisque;
  backdrop-filter: blur(10px);
}

/*******************************************************/
/* HEADER */
header.flex_contenedor {
  background: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;

  text-align: center;

  display: block;
  color: black;
  font-size: 300%;


  padding: 100px 10px;

}

/*******************************************************/
/* NAV */
.flex_contenedorNav {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-start;*/
  justify-content: center;
  /*background-color: #264279;*/
  
}
.flex_contenedorNav a{
    background-color: white; /* Fondo del botón */
    border: none; /* Elimina el borde del botón */
    color: black; /* Color del texto del botón */
    padding: 11px 40px; /* Espaciado dentro del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Elimina la subrayado del texto */
    display: inline-block; /* Establece el botón como un elemento en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 6px 5px; /* Margen entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    border-radius: 10px; /* Establece el radio de los bordes del botón */
  
}


.flex_contenedorNav>div {
  /*flex-grow: 1;*/
  /*especifica factor de crecimiento*/
  /*width: 100%;*/
  padding: 30px;

  color: rgb(212, 209, 209);
  text-align: center;
  text-decoration: none;
}


.baldas{
background-image: url("../imagenes/Tienda/baldas.png");
background-size: cover; /* Ajusta la imagen al tamaño del div */
background-position: center; /* Centra la imagen en el div */
margin-top: 10%;
height: 2000px; /* Altura del div */
width: 100%; /* Ancho del div */
}

.objeto1 img{
  margin-left: 10%;
  padding-left: 0;
  height: 250px;
}